<p id="notice"><%= notice %></p>

<h3 align="center">My Tweets</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2">Message</th>
      <th>Is retweet</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td colspan="2"><%= tweet.message %></td>           
        <td><%= tweet.is_retweet %></td>        
        <td><%= link_to 'Show', tweet %></td>
        <% if can? :edit, tweet %>
          <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
        <% end %>
        <% if can? :destroy, tweet %>
          <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Tweet', new_tweet_path %>

 
