<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag(@tweet.attachment_url, size: "110x90", class: "img-rounded") unless @tweet.attachment_url.nil? %> 
      </div>
      <div class="col-md-4">
        <%= raw @tweet.message %>
      </div>
    </div>
  </div>
</div><br>
<div class="row">
  <div class="col-md-12">
    <%= link_to 'Edit', edit_tweet_path(@tweet) if can? :destroy, @tweet %>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <div class="row">
      <div class="col-md-3" id="like-id_<%= @tweet.id%>">    
        <% if is_liked(@tweet.id) %>
          <div class= "t-pointer" onclick="likeFunction(<%= @tweet.id %>)">Like</div>
        <% else %>
          <div class= "t-pointer" onclick="dislikeFunction(<%= @tweet.id %>)">Dislike</div>
        <% end %>
      </div>
      <div class="col-md-3">
        <div onclick="addTweetId(<%= @tweet.id %>)"><a data-toggle="modal" data-target="#myModal">Comment</a></div>
      </div>
      <div class="col-md-3">
        retweet
      </div>
    </div>
  </div>
</div><br>
<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <div class="row">
      <div class="col-md-3" id="total-liked">    
        <%= @total_liked.size %>
      </div>
      <div class="col-md-3">
        <%= @total_comments.size %>
      </div>
      <div class="col-md-3">
        retweet
      </div>
    </div>
  </div>
</div>



<h3>All Comments</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="3">Comments</th>      
    </tr>
  </thead>
  <tbody>
    <% @total_comments.each do |comment| %>
      <tr>
        <td colspan="3">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-md-4">
                  <%= image_tag(comment.attachment_url, size: "80x65", class: "img-rounded") unless comment.attachment_url.nil? %> 
                </div>
                <div class="col-md-6">
                  <%= raw comment.message %>
                </div>
              </div>
            </div>
          </div>
        </td>        
      </tr>
    <% end %>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Comment</h4>
      </div>
      <div class="modal-body">
        <%= form_for :comment, url: create_comment_comments_path, remote: true, html: {class: "comment-form"}, local: true do |form| %>
          <div class="form-group">
            <label for="message">Message Text:</label>           
            <%= form.text_area :message, id: :comment_message, class: "form-control", required: true %>
          </div>

          <div class="form-group">
            <label for="attachment">Attachment:</label>
            <%= form.file_field :attachment, id: :comment_attachment %>
          </div>

          <div class="field">    
            <%= form.hidden_field :user_id, value: current_user.id, id: :comment_user_id %>
            <%= form.hidden_field :tweet_id, id: :comment_tweet_id %>
            <%= hidden_field_tag :tags, "SHOW" %>           
          </div>
          <div class="actions">
            <%= form.submit class: "btn btn-default"%>
          </div>
        <% end %>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>

<script type="text/javascript">
  var tLiked = <%= @total_liked.size %>
  function likeFunction(tweet) {
    $.ajax({
      url: "<%= like_likes_path %>",
      data: {"tweet_id": tweet},
      success: function(data){
        $("#like-id_" + tweet).html('<div class= "t-pointer" onclick="dislikeFunction(' + tweet + ')">Dislike</div>');
        $("#total-liked").html(parseInt(tLiked) + 1 );
        tLiked = parseInt(tLiked) + 1;
      }
    });
  }

  function dislikeFunction(tweet) {
    $.ajax({
      url: "<%= dislike_likes_path%>",
      data: {"tweet_id": tweet},
      success: function(data){
        $("#like-id_" + tweet).html('<div class= "t-pointer" onclick="likeFunction(' + tweet + ')">Like</div>');
        $("#total-liked").html(parseInt(tLiked) - 1 );
        tLiked = parseInt(tLiked) - 1;
      }
    });
  }
</script>
