<br/>
<table class="table table-striped">    
  <tbody>
  <% unless @users.blank? %>
    <% @users.each do |user|%>
      <tr>
        <td><%= link_to "#{user.email}", profile_path(id: user.profile, tag: 'Other') %></td>
        <td><%= user.profile.first_name.titleize if user.profile %></td>
        <td id="follow-unfollow_id_<%= user.id%>">
          <% if is_following(user.id) %>
            <div class= "t-pointer" onclick="followFunction(<%= user.id %>)">Follow</div>
          <% else %>
            <div class= "t-pointer" onclick="unFollowFunction(<%= user.id %>)">Unfollow</div>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <p> No User Found!</p>
  <% end %>
  </tbody>
</table>

<script type="text/javascript">
  function followFunction(user) {
    $.ajax({
      url: "<%= follow_following_index_path%>",
      data: {"following_user_id": user},
      success: function(data){
        $("#follow-unfollow_id_" + user).html('<div class= "t-pointer" onclick="unFollowFunction(' + user + ')">Unfollow</div>')
      }
    });
  }

  function unFollowFunction(user) {
    $.ajax({
      url: "<%= unfollow_following_index_path%>",
      data: {"following_user_id": user},
      success: function(data){
        $("#follow-unfollow_id_" + user).html('<div class= "t-pointer" onclick="followFunction(' + user + ')">Follow</div>')
      }
    });
  }
</script>
<style type="text/css">
  
</style>